@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.title {
  color: #2d3748;
  font-size: 2rem;
  margin-bottom: 20px;
}
.image-section img {
  width: 200px;
  height: auto;
  margin: 10px auto;
}
.info-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}
.info-table td {
  padding: 10px;
  border: 1px solid #ddd;
}
.types {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.type-tag {
  background-color: #48bb78;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
}
.abilities-section,
.moves-section {
  margin-top: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  background-color: #edf2f7;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
}
